flask
gunicorn
openai
tiktoken
langchain==0.3.23
langchain-community==0.3.21
faiss-cpu
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
httplib2
python-docx
pandas
openpyxl
python-dotenv
